*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(230, 226, 226);
  font-family: "League Spartan", sans-serif;
  max-width: 450px;
  min-height: 100vh;
  margin: auto;
  padding: 1em;
  /* border: 1px solid red; */
}

/* typography */
h1,h2 {
  margin-bottom: 1em;
}

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}

/* badge */

.badge-square-container, .badge-pill-container { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1em;
}

.badge {
  flex: 1;
  align-content: center;
  width: fit-content;
  margin: 1em 0 0;
  padding: .5em 1.25em;
  text-align: center;
  font-weight: 500;
}

.badge-square{
  border: none;
  border-radius: 0.3em;
}

.badge-pill{
  border: none;
  border-radius: 1em;
}


