*, 
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(230, 226, 226);
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  max-width: 450px;
  min-height: 100vh;
  margin: auto;
  padding: 1em;
  /* border: 1px solid red; */
}

/* typography */

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}

/* ------------------ */

h1,h2,h3 {
  margin-bottom: 1em;
}



/* ------------ Badges ---------- */

.badge-square-container, .badge-pill-container { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 1.5em;
  padding: .5em 0;
}

.badge {
  flex: 1;
  align-content: center;
  width: fit-content;
  /* margin: 1em 0 0; */
  padding: .5em 1.25em;
  text-align: center;
  font-weight: 500;
}

.badge-square{
  border: none;
  border-radius: 0.3em;
}

.badge-pill{
  border: none;
  border-radius: 1em;
}

/*--------------- Banner------------- */

.banner-container {
  border: none;
  border-radius: 0.3em;
  display: flex;
  gap: 12px;
  padding: 1em 1em;
  margin-bottom: 1em;
}

.banner-text{
  font-weight: 300;
  margin-top: .5em;
}

.banner-content {
  overflow-wrap: break-word; /* Allows long words to break and wrap to the next line */
  word-break: break-word;    /* Ensures long words break at arbitrary points if necessary */
  line-height: 1.2;
}

.banner-success {
  background: #ECFDF5;
  color: #065F46;
}

.banner-warning {
  background: #FFFBEB;
  color: #B45309;
}

.banner-error {
  background: #FEF2F2;
  color: #92400E;
}

.banner-neutral {
  background: #EFF6FF;
  color: #1E40AF;
}

.banner-default { 
  background: #ecf1f6;
  color: #3a4878;
}
