*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(230, 226, 226);
  font-family: "League Spartan", sans-serif;
  font-weight: 500;
  max-width: 500px;
  min-height: 100vh;
  margin: auto;
  padding: 1em;
  border: 1px solid red;
}

/* typography */

h1 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1.2;
  text-align: center;
}

/* ------------------ */

h1,h2 {
  margin-bottom: 1em;
} 



/* ------------ Badges ---------- */

.badge-square-container, .badge-pill-container { 
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 1.5em;
  padding: .5em 0;
}

.badge {
  flex: 1;
  padding: .5em 1.25em;
  text-align: center;
  font-weight: 500;
  overflow-wrap: break-word; /* Allows long words to break and wrap to the next line */
  max-width: 100%;
  align-content: center;
}

.badge-square{
  border: none;
  border-radius: 0.3em;
}

.badge-pill{
  border: none;
  border-radius: 1em;
}

/*--------------- Banner------------- */

.banner-container {
  border: none;
  border-radius: 0.3em;
  display: flex;
  gap: 12px;
  padding: 1em 1em;
  margin-bottom: 1em;
}

.banner-multiline-container, .banner-singleline-container { 
  margin: 1.5em 0;
}

.banner-text{
  font-weight: 300;
  margin-top: .5em;
}

.banner-content {
  overflow-wrap: break-word; 
  word-break: break-word; 
  line-height: 1.2;
}

.banner-success {
  background: #ECFDF5;
  color: #065F46;
}

.banner-warning {
  background: #FFFBEB;
  color: #B45309;
}

.banner-error {
  background: #FEF2F2;
  color: #92400E;
}

.banner-neutral {
  background: #EFF6FF;
  color: #1E40AF;
}

.banner-default { 
  background: #ecf1f6;
  color: #3a4878;
}

/*----------- Card -------------- */

.card-container{
  background-color: #F9FAFB;
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 2em 0;
  padding: 0 2em 1.5em;
  border-radius: 1em;
  text-align: center;
}

.card-container:hover { 
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.1);
} 
  
.card-icon {
  position: relative;
  bottom: 25px;
  margin: 0 auto;
  border: none;
  border-radius: 6px;
  background: #3F75FE;
  padding: .75em .5em;
  box-shadow: 0px 4px 6px -2px rgba(0, 0, 0, 0.05), 
              0px 10px 15px -3px rgba(0, 0, 0, 0.1);
}

.card-title {
  color: #111827;
  font-weight: 500;
  line-height: 1.75em;
  font-size: 1.125rem;
  margin-bottom: 0;
}

.card-description { 
  color: #6B7280;
  font-weight: 400;
  line-height: 1.5em;
}

/*-------------------- Testimonials----------------- */

.testimonial-container { 
  width: 80%;
  padding: 1em .5em;
  margin: 6em auto 2em;
  background-color: #2545B8;
  color: #fff;
  display: flex;
  flex-direction: column;
  font-size: 1.2rem;
}

.testimonial-image-container {
  width: 100%; 
  height: 12rem;
  margin-top: -30%;
  margin-bottom: 2em;
  align-self: center;
} 

.testimonial-image-container > img { 
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 0% 25%;
  display: block;
}

.double-quotes { 
  opacity: 0.25;
}

.testimonial-text  { 
  line-height: 1.2;
  padding-right: 1.5em;
}

.testimonial-author-details { 
  margin-top: 1.2em;
  font-size: .8em;
}

.testimonial-author-details > strong { 
  font-weight: 500;
}

.testimonial-author-details > p { 
  font-weight: 300;
  margin-top: .4em;
}

@media (min-width: 430px){ 
  .testimonial-container {
    width: 100%;
    margin: 4em auto 2em; 
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: .7rem;
  }

  .testimonial-image-container { 
  width: 34%;
  height: 100%;
  margin: 0;
  margin-top: -15%;
  margin-bottom: -19%;
  } 
  
  .testimonial{ 
    width: 65%;
  }
}

